* {
box-sizing: border-box;


}

body{
    margin: 0;
    padding: 0;
}

section,header, footer{
    

}

section{
    height: 100vh;
}

h1,h2,h3{
    margin: 0;
}
 /*
.un{
    background-color: aquamarine;
}

.deux{
    background-color: orange;
}
.trois{
    background-color: rgb(21, 255, 0);
}
.quatre{
    background-color: rgb(89, 0, 255);
}

.cinq{
    background-color: rgb(255, 0, 0);
}
*/

body > div:nth-of-type(1){
    background-image: url(../images/diete.jpg);
}

body > div:nth-of-type(2){
    background-color: rgb(255, 185, 54);
}

body > div:nth-of-type(3){
    background-color: rgb(252, 255, 102);
}

body > div:nth-of-type(4){
    background-color: rgb(143, 255, 121);
}

body > div:nth-of-type(5){
    background-color: rgb(110, 214, 255);
}


body > div:nth-of-type(6){
    background-color: rgb(169, 93, 255);
}

body > div:nth-of-type(6){
    background-color: rgb(57, 3, 119);
}

.centre{
    margin: 0 auto;
    max-width: 1100px;
    background-color: #ffffff3f;
}


/* //////////////////////////////////////////////////// la division .hero*/

.hero{
    background-image:url(../images/diete.jpg);
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
}

.hero__barresup{
    background-color: #ffffff83;
    
}

.hero__titre{
    color: #2a6dff;
    font: 3rem;
}

.hero__logo{
    
}

.hero >.centre {
    background-color: #ee9d0859;
}

/* //////////////////////////////////////// menu*/

.hero__menu{
position: fixed;
width: 500px;
top: 20px;
right: 20px;
}

.hero__menu a{
    display: inline-block;
    padding: 5px 10 px;
    background-color: rgb(17, 0, 255);
    color: #fff;
    text-decoration: none;

}


.centre{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 100px;
}

/* //////////////////////////////////////////////////////////////// FORMULAIRE*/

.formulaire{}




.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulaire fieldset{
    margin: 30px 0 ;
    border: 1px dotted #00000025;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// BURGER*/

#chk-burger{
    display: none;
}

.navigation{
   position: fixed;
   top: 20px;
   right: 20px;
   text-align: right;
}

.navigation__menu{
     background-color: #000000bb;
       padding: 10px;
}

.navigation__menu a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    text-decoration: none;
    background-color: #ffffff1e;
    padding: 4px;
    margin: 5px;
    color: #fff;
    font-size: 2rem;
}

.navigation__bouton{}


/*.navigation__menu{
    display: none;

}

#chk-burger:checked ~ .navigation__menu{
    display: block;
}*/

/*  ////////////////////////////////////////////////////////////////////////////////////// animation burger*/
.navigation__menu {
    background-color: #00000093;
    padding: 10px;
    max-height: 0;           
    overflow: hidden;
    opacity: 0;
    transform: translateX(-10px);
    transition: max-height 0.35s ease, opacity 0.35s ease, transform 0.35s ease;
}

#chk-burger:checked ~ .navigation__menu {
    max-height: 400px;      
    opacity: 1;
    transform: translateY(0);
}



/* ////////////////////////////////////////////////////////////////////////////////////////////google fonts*/

body {
    font-family: "Quicksand", sans-serif;  
}

h1, h2 {
    font-family: "Anton", sans-serif;      
}

h3, footer h3 {
    font-family: "Playfair Display", serif; 
}



/* ////////////////////////////////////////// footer*/

.footer {
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer a {
    color: white;
    text-decoration: none;
}
